/*
NOTE:
1 px = 0.063em
16 px = 1em
Make sure to use rem unit instead of em unit
*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300;600");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code");


/*-----------*/
/* Scrollbar */
/*-----------*/

:root {
	scrollbar-color: var(--scrollbar-fg) var(--scrollbar-bg);
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-fg);
}

::selection {
	background: var(--link-hover);
	color: var(--foreground);
}


/*-------*/
/* Fonts */
/*-------*/

:root {
	font-size: 105%;
}

body, select, button {
	border: none;
	font-family: "IBM Plex Sans", "sans-serif";
	font-size: 1rem;
}

#sidebar h1, #entries h3 {
	font-family: "IBM Plex Sans Condensed", "sans-serif";
}


/*---------------*/
/* Generic setup */
/*---------------*/

body {
	background: var(--background);
	color: var(--foreground);
	display: block;

	font-size: 1rem;

	margin: auto;
}

hr {
	border-left: 0;
	border-right: 0;
	border-top-width: 0.15rem;
	border-bottom: 0;
	border-color: var(--foreground);
	border-style: solid;
}

pre {
	background: var(--code);
	padding: 0.2rem;
}

code {
	background: var(--code);
	display: inline-block;
	font-family: "Fira Code", "monospace";
	white-space: pre-wrap;

	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

blockquote {
	background: var(--code);
	border-left-color: var(--quote);
	border-left-style: solid;
	border-left-width: 0.2rem;

	margin: 0;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

button {
	cursor: pointer;
}

summary {
	cursor: pointer;
}

a {
	color: var(--link);
}

a:hover {
	background: var(--link-hover);
	color: var(--foreground);
}

a img {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	filter: var(--icon1) var(--icon2) var(--icon3) var(--icon4) var(--icon5) var(--icon6);
}

a:hover img {
	filter: var(--icon-hover1) var(--icon-hover2) var(--icon-hover3) var(--icon-hover4) var(--icon-hover5) var(--icon-hover6);
}

select {
	display: block;
	width: 80%;

	background: var(--code);
	border: none;
	color: var(--foreground);

	padding: 0.4rem;
	margin: auto;
}


/*---------*/
/* Sidebar */
/*---------*/

.sidebar-button {
	background: var(--entry);
	visibility: hidden;
	z-index: 10000;

	border-left: 1px solid var(--background);
	border-right: 1px solid var(--background);

	position: fixed;
	float: left;
	top: 0;
	bottom: 0;
	left: 0;
	width: auto;
	padding: 0.7rem;
}

.sidebar-button:active {
	border-style: none;
}

#sidebar {
	background: var(--entry);
	overflow: auto;
	padding: 0;
	visibility: visible;
	z-index: 10000;

	position: fixed;
	float: left;
	top: 0;
	bottom: 0;
	min-width: 200px;
	width: 20%;
}

#sidebar img {
	height: 5rem;
	width: 100%;
	filter: var(--icon1) var(--icon2) var(--icon3) var(--icon4) var(--icon5) var(--icon6);

	margin: auto;
	margin-top: 1rem;
}

#sidebar a:hover img {
	filter: var(--icon-hover1) var(--icon-hover2) var(--icon-hover3) var(--icon-hover4) var(--icon-hover5) var(--icon-hover6);
}

#sidebar .iconlink {
	display: inline-block;
	width: 100%;

	text-align: center;
	margin: auto;
}

#sidebar .iconlink img {
	height: 2rem;
	width: 2rem;
	margin: 1rem 0.5rem 0;
}

#sidebar h1 {
	font-size: 2rem;
	font-weight: 300;

	text-align: center;
	margin: auto;
}

#sidebar p {
	text-align: center;
}

#sidebar a {
	font-size: 1rem;
	text-decoration: none;

	text-align: center;
	margin: auto;
}

#sidebar .iconlink a:hover,
#sidebar .about a:hover {
	background: none;
}

#sidebar hr {
	border-top-width: 0.1rem;
	border-color: var(--background);

	margin-left: 10%;
	margin-right: 10%;
}

#sidebar h2 {
	color: var(--title);
	font-size: 2rem;

	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
}

#sidebar button,
#sidebar button:disabled,
#sidebar button:hover:disabled,
#sidebar button:active:disabled {
	background: var(--button);
	color: var(--foreground);
	font-weight: normal;

	display: block;
	width: 100%;
	text-align: left;

	padding: 0.8rem 1rem;
}

#sidebar button:hover:disabled {
	cursor: default;
}

#sidebar button:hover {
	background: var(--button-hover);
}

#sidebar button:active,
#sidebar button.selected,
#sidebar button.selected:disabled,
#sidebar button.selected:hover:disabled {
	background: var(--button-selected);
	color: var(--background);
	font-weight: bold;

	border-left: 4px solid var(--foreground);
}

#sidebar button.selected:hover {
	background: var(--foreground);
}


/*---------------------*/
/* Title before addons */
/*---------------------*/

.about p {
	font-size: 1.2rem;
}

.header {
	position: sticky;
	top: 0;
	z-index: 1000;

	background: var(--background);
	margin-top: 1rem;
}

.header hr {
	margin-top: 0;
	padding-bottom: 0.5rem;
}

.header div button {
	background: var(--entry);

	color: var(--foreground);
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.25rem 0.5rem;
}

.header div button:hover {
	background: var(--button-hover);
}

.header div button.selected {
	background: var(--button-selected);
	color: var(--background);
	font-weight: bold;
}

.header div button.selected:hover {
	background: var(--foreground);
}

.header .subtitle {
	font-size: 0.9rem;
	font-style: italic;

	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.centered {
	text-align: center;
	margin: auto;
}


/*--------*/
/* Addons */
/*--------*/

#addons {
	float: right;
	width: 78%;
	margin: 0.5em;
}

#addons .entry {
	background: var(--entry);
	border-top-width: 0;
	border-bottom-width: 0;
	border-left-width: 0.2rem;
	border-right-width: 0.2rem;

	padding: 1rem;
	margin: 2%;
}

#addons .entry div h3 a {
	position: relative;
	display: inline-block;
}

#addons .entry div h3 a:hover {
	background: none;
	cursor: pointer;
}

#addons .entry div h3 a img {
	height: 1rem;
	width: 1rem;
	visibility: hidden;

	margin-left: 0.5rem;
}

#addons .entry div:hover h3 a img {
	visibility: visible;
}

/* Tooltips for the small icons */
#addons .entry div h3 a span {
	background: var(--code);
	visibility: hidden;
	font-size: 0.8rem;
	font-weight: normal;
	text-align: center;
	width: 5rem;

	bottom: 120%;
	left: -135%;
	opacity: 0;
	position: absolute;

	padding: 0.5rem;
	z-index: 100;
}

#addons .entry div h3 a span::after {
	content: "";

	top: 100%;
	left: 50%;
	margin-left: -0.6rem;
	position: absolute;

	border-width: 0.6rem;
	border-style: solid;
	border-color: var(--code) transparent transparent transparent;
}

#addons .entry div h3 a:hover span {
	visibility: visible;
	opacity: 1;
}

#addons .entry .custom {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#addons .entry .tags {
	margin: 0;

	color: var(--tags);
	font-size: 0.75rem;
	font-style: italic;
}

#addons .entry .iconlink a p {
	margin: 0;
}

#addons .entry .iconlink img {
	margin-right: 1.5rem;
}

#addons .entry .iconlink a,
#addons .entry .iconlink a:hover {
	display: flex;
	padding: 0.5rem;

	background: var(--background);
	color: none;
	text-decoration: none;

	align-items: center;
	justify-content: left;
}

#addons .entry .iconlink a, 
#addons .entry details {
	margin: 0.5rem;
}

#addons .entry details {
	padding: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background: var(--code);
}

#addons .entry details .iconlink a,
#addons .entry details .iconlink a:hover,
#addons .entry details code {
	background: var(--entry);
}

#addons .entry h3 {
	color: var(--title);
	font-size: 1.5rem;

	margin-top: 0;
	margin-bottom: 0.2rem;
}

#addons .entry h5 {
	font-size: 0.9rem;
	font-style: italic;

	margin: 0;
}


/*--------*/
/* Flairs */
/*--------*/

#addons .entry flairs p, 
#addons .entry flairs a {
	font-size: 0.8rem;
	font-style: italic;

	margin-top: 0;
	margin-bottom: 0.1rem;
}

#addons .entry flairs a:hover {
	background: none;
	color: var(--foreground) !important;
}

#addons .entry flairs .important, 
#addons .entry flairs .important a {
	color: var(--important);
}

#addons .entry flairs .bad, 
#addons .entry flairs .bad a {
	border-style: none;
	background: var(--bad);
}

#addons .entry flairs .nice, 
#addons .entry flairs .nice a {
	color: var(--nice);
}


/*-------------*/
/* Entry Types */
/*-------------*/

#addons #pinned .entry, 
#addons .highlight, #addons .bad {
	border-style: solid;
	border-width: 0.15rem;
}

#addons #pinned .entry {
	border-color: var(--pinned);
}

#addons .highlight {
	border-color: var(--nice);
}

#addons .bad {
	border-color: var(--bad);
}

#addons .bad h3 {
	color: var(--bad);
}


/* ------------- */
/* Adaptive size */
/* ------------- */
/* Sidebar starts to overlap with entries when lower than 1000px */
/* Phone portrait */
@media (max-width: 1000px) {
	:root {
		font-size: 95%;
	}
	.sidebar-button {
		visibility: visible;
	}

	#sidebar {
		min-width: 270px;
		visibility: hidden;
	}

	#addons {
		width: 88%;
		margin-right: 1%;
	}
}

/* 2k */
@media (min-width: 1920px) {
	:root {
		font-size: 125%;
	}
}

/* 4k */
@media (min-width: 3840px) {
	:root {
		font-size: 250%;
	}
}
