/* A bunch of themes for use :] */
/* Use https://codepen.io/sosuke/pen/Pjoqqp for filter values */

.nord {
	--background: #2e3440;
	--foreground: #eceff4;
	--scrollbar-bg: #3b4252;
	--scrollbar-fg: #4c566a;

	--button: #3b4252;
	--button-hover: #434c5e;
	--button-selected: #8fbcbb;

	--link: #81a1c1;
	--link-hover: #81a1c180;

	--title: #88c0d0;
	--entry: #3b4252;
	--name: #88c0d0;
	--important: #ebcb8b;

	--code: #2e3440;
	--quote: #eceff480;
	--tags: #eceff480;

	--bad: #bf616a;
	--nice: #88c0d0;
	--pinned: #a3be8c;

	--icon1: invert(65%);
	--icon2: sepia(14%);
	--icon3: saturate(734%);
	--icon4: hue-rotate(169deg);
	--icon5: brightness(93%);
	--icon6: contrast(94%);

    --icon-hover1: invert(89%);
	--icon-hover2: sepia(13%);
	--icon-hover3: saturate(366%);
	--icon-hover4: hue-rotate(197deg);
	--icon-hover5: brightness(107%);
	--icon-hover6: contrast(91%);
}

.dracula {
	--background: #282a36;
	--foreground: #f8f8f2;
	--scrollbar-bg: #44475a;
	--scrollbar-fg: #6272a4;

	--button: #44475a;
	--button-hover: #6272a4;
	--button-selected: #bd93f9;

	--link: #8be9fd;
	--link-hover: #8be9fd80;

	--title: #bd93f9;
	--entry: #44475a;
	--name: #bd93f9;
	--important: #f1fa8c;

	--code: #282a36;
	--quote: #f8f8f280;
	--tags: #f8f8f280;

	--bad: #ff5555;
	--nice: #8be9fd;
	--pinned: #50fa7b;

	--icon1: invert(65%);
	--icon2: sepia(27%);
	--icon3: saturate(6690%);
	--icon4: hue-rotate(218deg);
	--icon5: brightness(113%);
	--icon6: contrast(95%);

    --icon-hover1: invert(100%);
	--icon-hover2: sepia(24%);
	--icon-hover3: saturate(238%);
	--icon-hover4: hue-rotate(18deg);
	--icon-hover5: brightness(102%);
	--icon-hover6: contrast(94%);
}

.gruvbox-dark {
	--background: #282828;
	--foreground: #ebdbb2;
	--scrollbar-bg: #3c3836;
	--scrollbar-fg: #665c54;

	--button: #3c3836;
	--button-hover: #504945;
	--button-selected: #689d6a;

	--link: #83a598;
	--link-hover: #83a59880;

	--title: #689d6a;
	--entry: #3c3836;
	--name: #689d6a;
	--important: #fabd2f;

	--code: #282828;
	--quote: #ebdbb280;
	--tags: #ebdbb280;

	--bad: #fb4934;
	--nice: #83a598;
	--pinned: #b8bb26;

	--icon1: invert(69%);
	--icon2: sepia(38%);
	--icon3: saturate(361%);
	--icon4: hue-rotate(59deg);
	--icon5: brightness(97%);
	--icon6: contrast(86%);

    --icon-hover1: invert(90%);
	--icon-hover2: sepia(23%);
	--icon-hover3: saturate(353%);
	--icon-hover4: hue-rotate(355deg);
	--icon-hover5: brightness(97%);
	--icon-hover6: contrast(90%);
}

.gruvbox-light {
	--background: #ebdbb2;
	--foreground: #3c3836;
	--scrollbar-bg: #fbf1c7;
	--scrollbar-fg: #bdae93;

	--button: #fbf1c7;
	--button-hover: #ebdbb2;
	--button-selected: #427b58;

	--link: #076678;
	--link-hover: #07667880;

	--title: #427b58;
	--entry: #fbf1c7;
	--name: #427b58;
	--important: #b57614;

	--code: #ebdbb2;
	--quote: #3c383680;
	--tags: #3c383680;

	--bad: #9d0006;
	--nice: #076678;
	--pinned: #79740e;

	--icon1: invert(39%);
	--icon2: sepia(43%);
	--icon3: saturate(411%);
	--icon4: hue-rotate(90deg);
	--icon5: brightness(97%);
	--icon6: contrast(88%);

	--icon-hover1: invert(17%);
	--icon-hover2: sepia(12%);
	--icon-hover3: saturate(326%);
	--icon-hover4: hue-rotate(336deg);
	--icon-hover5: brightness(97%);
	--icon-hover6: contrast(85%);
}

.solarized-dark {
	--background: #002b36;
	--foreground: #93a1a1;
	--scrollbar-bg: #073642;
	--scrollbar-fg: #657b83;

	--button: #073642;
	--button-hover: #586e7580;
	--button-selected: #2aa198;

	--link: #268bd2;
	--link-hover: #268bd280;

	--title: #2aa198;
	--entry: #073642;
	--name: #2aa198;
	--important: #b57614;

	--code: #002b36;
	--quote: #93a1a180;
	--tags: #93a1a180;

	--bad: #dc322f;
	--nice: #268bd2;
	--pinned: #859900;

	--icon1: invert(50%);
	--icon2: sepia(69%);
	--icon3: saturate(442%);
	--icon4: hue-rotate(126deg);
	--icon5: brightness(93%);
	--icon6: contrast(84%);

	--icon-hover1: invert(97%);
	--icon-hover2: sepia(50%);
	--icon-hover3: saturate(235%);
	--icon-hover4: hue-rotate(323deg);
	--icon-hover5: brightness(98%);
	--icon-hover6: contrast(90%);
}

.solarized-light {
	--background: #eee8d5;
	--foreground: #586e75;
	--scrollbar-bg: #fdf6e3;
	--scrollbar-fg: #93a1a1;

	--button: #fdf6e3;
	--button-hover: #93a1a180;
	--button-selected: #2aa198;

	--link: #268bd2;
	--link-hover: #268bd280;

	--title: #2aa198;
	--entry: #fdf6e3;
	--name: #2aa198;
	--important: #b57614;

	--code: #eee8d5;
	--quote: #586e7580;
	--tags: #586e7580;

	--bad: #dc322f;
	--nice: #268bd2;
	--pinned: #859900;

	--icon1: invert(50%);
	--icon2: sepia(69%);
	--icon3: saturate(442%);
	--icon4: hue-rotate(126deg);
	--icon5: brightness(93%);
	--icon6: contrast(84%);

	--icon-hover1: invert(44%);
	--icon-hover2: sepia(15%);
	--icon-hover3: saturate(480%);
	--icon-hover4: hue-rotate(148deg);
	--icon-hover5: brightness(91%);
	--icon-hover6: contrast(95%);
}
.monokai {
	--background: #1b1d1e;
	--foreground: #f8f8f2;
	--scrollbar-bg: #1b1d1e;
	--scrollbar-fg: #f8f8f2;

	--button: #262626;
	--button-hover: #f8f8f240;
	--button-selected: #56c2d6;

	--link: #899ca1;
	--link-hover: #899ca180;

	--title: #56c2d6;
	--entry: #262626;
	--important: #fd971f;

	--code: #1b1d1e;
	--quote: #f8f8f280;
	--tags: #f8f8f280;

	--bad: #f92672;
	--nice: #8cedff;
	--pinned: #82b414;

	--icon1: invert(73%);
	--icon2: sepia(47%);
	--icon3: saturate(487%);
	--icon4: hue-rotate(144deg);
	--icon5: brightness(89%);
	--icon6: contrast(88%);

	--icon-hover1: invert(92%);
	--icon-hover2: sepia(8%);
	--icon-hover3: saturate(567%);
	--icon-hover4: hue-rotate(326deg);
	--icon-hover5: brightness(112%);
	--icon-hover6: contrast(95%);
}
